.Prompt {
    padding: unset;
    margin: unset;
    min-height: unset;
    max-height: 85%;
    overflow: unset;

    --checkbox-size: var(--font-ui-medium);
    background-color: var(--background-primary);
    border-radius: var(--modal-radius);
    border: var(--modal-border-width) solid var(--modal-border-color);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: var(--dialog-width);
    z-index: var(--layer-modal);

    &-scroller {
        overflow: scroll;
        display: flex;
        flex-direction: column;

        & > :first-child {
            padding-top: var(--size-4-2);
            border-radius: var(--modal-radius) var(--modal-radius) 0 0;
        }

        & > :last-child {
            border-radius: 0 0 var(--modal-radius) var(--modal-radius);
        }
    }

    .is-phone & {
        --mobile-height: 100vh;
        --margin-top: calc(var(--safe-area-inset-top) + var(--header-height) + var(--size-4-4));
        --margin-bottom: calc(var(--safe-area-inset-bottom) + var(--size-4-4));
        max-height: calc(var(--mobile-height) - var(--margin-top) - var(--margin-bottom));
        height: unset;
        min-width: unset;
        width: unset;
        top: unset;
        bottom: unset;
        position: absolute;
        margin-top: var(--margin-top);
        right: var(--size-4-4);
        left: var(--size-4-4);
        margin-bottom: var(--margin-bottom);
        border: var(--modal-border-width) solid var(--modal-border-color);
        border-radius: var(--modal-radius);

        &-picker {
            --margin-top: unset;
            --margin-bottom: unset;
            z-index: calc(var(--layer-modal) + 2);
        }
    }

    &-submit-button {
        border-radius: unset;
        border: unset;

        :focus-visible {
            box-shadow: unset;
            background-color: var(--interactive-accent-hover);
        }
    }

    &-child {
        padding: 0 var(--size-4-3) var(--size-4-2) var(--size-4-3);
        // border-bottom: 1px solid var(--background-secondary);
        // border: 1px solid var(--background-secondary);
        border: solid;
        border-width: 1px;
        // border-left-width: 4px;
        border-color: transparent;
        border-bottom-color: var(--background-secondary);

        &-active {
            border-color: var(--interactive-accent-hover);
        }
    }

    &-title {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-prefix {
            color: var(--text-faint);
            margin-right: var(--size-4-2);
            padding-right: var(--size-4-2);
            border-right: 1px solid var(--text-faint);
            white-space: nowrap;
        }
    }

    &-text {
        font-family: var(--font-text);
        font-size: var(--font-ui-medium);
        width: 100%;

        & .cm-scroller {
            min-height: 6em;
            max-height: 12em;
        }
    }

    &-field-label {
        color: var(--text-muted);
        font-size: var(--font-ui-smaller);
        padding-top: var(--size-4-1);
    }
}

input[type="text"].Input {
    height: calc(var(--font-ui-medium) * var(--line-height-normal));

    background-color: var(--background-primary);
    font-size: var(--font-ui-medium);
    border: none;
    font-family: var(--font-text);
    width: 100%;
    padding: 0;

    width: 100%;

    &:focus {
        box-shadow: unset;
    }

    &-transparent {
        color: transparent;
    }
}

.Input {
    &-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        overflow: scroll;
    }
    &-preview {
        position: absolute;
        pointer-events: none;
        white-space: nowrap;
    }
}

.Confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    padding: var(--size-4-4);

    .is-mobile & {
        padding: unset;
        align-items: center;
    }

    & &-buttons {
        margin-top: var(--size-4-4);
        display: flex;
        gap: var(--size-4-2);
        justify-content: center;

        width: 50%;
        .is-mobile & {
            width: 100%;
            margin-top: var(--size-4-2);
        }
    }

    & &-button {
        flex-grow: 1;
    }
}

.Picker {
    &-dropdown {
        width: 100%;
        position: relative;

        &-panel {
            border: var(--modal-border-width) solid var(--modal-border-color);
            border-radius: var(--radius-m);
            z-index: calc(var(--layer-modal) + 1);
            position: absolute;
            background-color: var(--background-primary);
            padding: var(--size-4-1);
            top: -10px;
            left: 0;
        }
    }

    &-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    &-mobile {
        &-panel {
            max-height: 70vh;
            min-height: 30vh;
            border-top: 1px solid var(--background-modifier-border);
        }
        &-container {
            padding-left: var(--size-4-3);
        }
    }

    &-modal {
    }

    &-submit-button {
        @at-root button#{&} {
            background-color: unset;
            width: fit-content;
        }
    }

    &-display {
        display: flex;
        align-items: center;
        max-width: 100%;

        min-height: calc(var(--font-ui-medium) * var(--line-height-normal));
        height: fit-content;

        &-hidden {
            min-height: 0;
            height: 0;
            width: 0;
            overflow: hidden;
        }
    }

    &-file {
        &-input {
            position: absolute;
            left: -9999px;
        }

        &-input:focus + &-label {
            border: 1px solid var(--background-modifier-border-focus);
        }

        &-label {
            width: 1.5em;
            height: 1.5em;
            border-radius: var(--radius-s);
            border: 1px solid var(--background-modifier-border);
            background-color: var(--background-secondary);
            color: var(--text-muted);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.Combobox {
    &-container {
        min-width: 100px;
    }
    &-expander {
        cursor: pointer;
    }
    &-suggestion {
        padding: var(--size-2-1) var(--size-2-2);
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
    &-chevron-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: var(--size-2-1);

        .is-mobile & {
            height: var(--size-4-8);
        }
    }
}

.List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-2-2);

    &-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-element {
        @at-root button#{&},
            & {
            padding: var(--size-2-1) var(--size-2-2);
            border-radius: var(--radius-s);
            border: 1px solid var(--background-modifier-border);
            background-color: var(--background-color);
            display: flex;
            flex-direction: row;
            align-items: baseline;
            box-sizing: content-box;
            white-space: nowrap;
            box-shadow: unset;
            height: calc(var(--font-ui-medium) * var(--line-height-normal));
            width: unset;
            font-size: var(--font-text);
            align-items: center;

            max-width: 100%;
            overflow: scroll;

            // &:not(:first-child) {
            //     margin-bottom: var(--size-2-1);
            // }

            &:hover,
            &:focus,
            &:active {
                box-shadow: unset;
            }
            &:hover:not(:focus):not(:active):not(&-active) {
                border: 1px solid var(--background-modifier-border-focus);
            }
            &:focus,
            &:active,
            &-active {
                border: 1px solid var(--interactive-accent-hover);
            }
        }
    }
}

.Checkbox {
    &-container {
        height: calc(var(--font-ui-medium) * var(--line-height-normal));
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
