.typing-footer-content,
.typing-header-content {
    padding: 3px;
}

.popover .hover-popover .typing-header-breadcrumb {
    display: none;
}

.typing-header-content {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-muted);
}
.markdown-embed * .markdown-embed .typing-header-content {
    margin-top: 0px;
}
.markdown-embed .typing-header-breadcrumb {
    display: none;
}
.typing-footer-content {
    margin-bottom: 10px;
    font-size: 0.85em;
    border-top: 1px solid var(--text-muted);
}

.keyvalue {
    display: flex;
    flex-direction: row;
    line-height: normal;
    margin: 5px;
}

.key,
.value {
    font-size: 0.85em;
    padding: 2px 4px;
}

.key {
    color: var(--text-muted);
    border-radius: 4px;
}

.frontmatter-container {
    display: none;
}

.is-mobile .view-header-icon {
    display: none;
}

.is-mobile a.view-action[aria-label="More options"] {
    display: none;
}

.is-mobile .view-header-title:first-child {
    margin-left: 8px;
}
