/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowReverse {
    flex-direction: row-reverse;
}

.indexCtas {
    --ifm-button-size-multiplier: 1.6;
    /* margin-top: 24px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

@media screen and (max-width: 768px) {
    .indexCtas {
        flex-direction: column;
        gap: 24px;
    }
}

.indexCtasGitHubButtonWrapper {
    display: flex;
}

@media screen and (max-width: 996px) {
    .indexCtasGitHubButtonWrapper {
        display: none;
    }
}

.heroContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* max-width: 1100px; */
}
@media screen and (max-width: 996px) {
    .heroContainer {
        flex-direction: column;
    }
}

.imgDemo {
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 996px) and (min-width: 768px) {
    .imgDemo {
        max-width: 75%;
    }
}

.heroSubtitle {
    max-width: 600px;
}
@media screen and (min-width: 996px) {
    .heroSubtitle {
        text-align: start;
    }
}

.heroText {
}
@media screen and (min-width: 996px) {
    .heroText {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 36px;
    }
}
