@font-face {
    font-family: 'Font Awesome 6 Free';
    src: url('data:font/woff2;charset=utf-8;base64,{% include "base64/fa-solid-900.woff2.b64" %}') format('woff2');   
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Font Awesome 6 Free';
    src: url('data:font/woff2;charset=utf-8;base64,{% include "base64/fa-regular-400.woff2.b64" %}') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Font Awesome 6 Brands';
    src: url('data:font/woff2;charset=utf-8;base64,{% include "base64/fa-brands-400.woff2.b64" %}') format('woff2');  
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

{% include "fonts/all.css" %}
